body
{
    background-image: url(../mask/fachada.jpg); 
    background-color: rgb(0, 0, 0); 
    background-repeat: no-repeat;
}

/* 

THE MASK PROPERTIES HERE (WIDTH) ARE JUST FOR THE INITIAL STATE WHERE NO CONFIG IS SAVED IN THE
LOCAL STORAGE. IF THERE IS INFO IN THE LOCAL STORAGE, THAT WIDTH IN THE CONFIG WILL OVERWRITE THIS ONE
*/

/* Normal Mask, doors and windows*/
.mask{
    width: 426px;
    position: absolute;
}

.mask.backgroundMask{
    width: 1280px;
}

#andar0{
    -webkit-mask-box-image: url(../mask/andar0.png);
}

#andar1{
    -webkit-mask-box-image: url(../mask/andar1.png);
}

/* Up Masks: windows*/
#up .mask{
    -webkit-mask-box-image: url(../mask/ventana2.png);
}
/* Up Masks: windows*/
#down .mask{
    -webkit-mask-box-image: url(../mask/puerta2.png);
}

#editionModeIndicator{
    height: 20px;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    background-color: yellow;
}



.clear{
    clear: both;
}


.hidden{
    display: none;
}